<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.tino">

    <!-- You need the wake lock so the phone can be activated -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- You need the permission to set the alarm -->
    <uses-permission android:name="your.package.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tino"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LazyActivity" />
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".AddScheduleActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AlarmsetActivity" />
        <activity android:name=".AddAlarmActivity" />
        <activity android:name=".SetOrderActivity" />
        <activity android:name=".CheckScheduleActivity" />
        <activity android:name=".CheckSchedule2Activity" />
        <activity android:name=".AboutTinoActivity" />
        <activity android:name=".DeveloperInfoActivity" />

        <activity
            android:name=".MultiAlarm.service.PopupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <receiver
            android:name=".MultiAlarm.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MultiAlarm.service.AlarmService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>